<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- <div class="content-section">-->
<!--      <div class="media" style="display: flex">-->
<!--&lt;!&ndash;        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style = "border-radius: 50%; height: 80px; width: 80px; margin-right: 20px">&ndash;&gt;-->
<!--        <div class="media-body">-->
<!--          <p  style = "font-size: 20px; font-family: 'Arial', Arial, sans-serif " class="account-heading"> <b>{{ request.user.username }}</b> </br>-->
<!--          {{ request.user.email }}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <h2>Profile</h2>
<div>
 <p style = "font-size: 17px">
  <strong>Username: </strong> {{ request.user.username }} <br>
      <strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}<br>
 <strong>Date Joined:</strong> {{ request.user.date_joined }} <br>
 <strong>Email:</strong> {{ request.user.email }}<br>
 <strong>Last Login:</strong> {{ request.user.last_login }}<br>
 </p>
</div>

</body>
</html>
