{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>Profile</h2>
<div>
 <p style = "font-size: 17px">
  <strong>Username: </strong> {{ request.user.username }} <br>
      <strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}<br>
 <strong>Date Joined:</strong> {{ request.user.date_joined }} <br>
 <strong>Email:</strong> {{ request.user.email }}<br>
 <strong>Last Login:</strong> {{ request.user.last_login }}<br>
 </p>
</div>
    <br>
    <hr>
 <p style = "font-family: 'Arial', Arial, sans-serif"><strong>Upload a photo for the avatar</strong></p>
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>The account photo was successfully replaced!</p>
  {% endif %}
  <p><a href="{% url 'home' %}">Return to home page</a></p>

{% endblock %}
