<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Football</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary position-top">
    <a class="navbar-brand" href="/">{% block brand %}
        {% if uploaded_file_url %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style = "border-radius: 50%; height: 50px; width: 50px; margin-right: 20px">
         {% else %}
            <img class="rounded-circle account-img" src="{% static 'default.jpg' %}" style = "border-radius: 50%; height: 50px; width: 50px; margin-right: 20px">
        {% endif %}

<!--        <img src="{% static '' %}" style="height: 60px; width: 60px">-->
        {% endblock %}</a>
    <form action="">
        <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item" style="color: white"><a class="nav-link" style="font-size: 18px; color: yellow;"><i><strong>{{ user.username }} </strong></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'all' %}" style="font-size: 18px">Players list</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signout' %}" style="font-size: 18px">Signout</a></li>
            <li class="nav-item"><a class="nav-link" href="/accounts/profile" style="font-size: 18px">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin" style="font-size: 18px">Admin site</a></li>
            {% else %}
            <li class="nav-item" style="color: white"><a class="nav-link" style="font-size: 18px; color: yellow;">
                <i><strong>Guest </strong></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}" style="font-size: 18px">Signin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}" style="font-size: 18px">Signup</a></li>

            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" id="sch">
            <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="Enter a player name"
                   name="name">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>


{% block content %}
<h1>Welcome to Transfermarket!</h1>
<br>
{% if user.is_authenticated %}
    <h3>Hello {{user.username}}!</h3>
    <h4>You have successfully logged in.</h4>
{% endif %}
{% endblock %}

</body>
</html>