.register-box {
    width: 400px;
    background: #f9f9f9;
    padding: 40px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}

.register-box form .user-box {
    position: relative;
}

.register-box form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.register-box form .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.register-box form .user-box input:focus ~ label,
.register-box form .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.register-box button {
    border: none;
    outline: none;
    background: #03a9f4;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.register-box button:hover {
    background: #0166bf;
}
